body {
    font-family: Arial;
    background: #f0f0f0;
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.todo-container {
    background: white;
    padding: 30px;
    border-radius: 10px;
    width: 350px;
    box-shadow: 0 0 10px gray;
}

input {
    width: 70%;
    padding: 10px;
}

button {
    padding: 10px;
    cursor: pointer;
}

li {
    margin-top: 15px;
    background: #eee;
    padding: 10px;
    list-style: none;
    display: flex;
    justify-content: space-between;
}
